/*На 1200px скролла нет (http://s8.hostingkartinok.com/uploads/images/2017/02/089cb3edf1baaa8b73d987c4e42e8d43.png).
Если вы просто уменьшаете окно браузера, не забывайте про вертикальный скролл, который съедает место. Если хром показывает ширину 1200 - значит реальный размер равен 1200 минус ширина скроллбара (http://s8.hostingkartinok.com/uploads/images/2017/02/c2266192546b79140e293e32e8c4c632.png).
Если его убрать, чтобы отображалось именно 1200px, горизонтальный скролл пропадает (http://s8.hostingkartinok.com/uploads/images/2017/02/1de10236fbf33214608a2fb99cb0e118.png).*/


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff'),
       url('../fonts/roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/robotomedium.woff')  format('woff'),
       url('../fonts/robotomedium.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*полоса под навигацией каталога*/
.catalog-footer-line {
  width: 1146px;
  margin: 0 auto;
  opacity: 0.3;
}


/* общие стили для красных кнопок и ссылок на странице */
.red-btn {
  display: block;
  border: none;
  border-radius: 50px;
  color: #fff;
  background: -webkit-linear-gradient(bottom, #e74b36, #f26843);
  background: linear-gradient(to top, #e74b36, #f26843);
  text-shadow: 1px 1px 4px #c73f25;
  box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

.red-btn:hover {
  background: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
  background: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0 1px 2px #ac1000;
}

.red-btn:active {
  background: -webkit-linear-gradient(top, #e74b36, #f26843);
  background: linear-gradient(to bottom, #e74b36, #f26843);
  box-shadow: inset 0 1px 3px rgba(0,0,0, .4);
}

.wrapper {
  background: #849d8f;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 27px;
  padding-right: 27px;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  padding-right: 27px;
  padding-left: 27px;
}

.header-logo {
  float: left;
  margin-right: 5px;
}








/* -------------- header-menu ------------- */

.header-menu {
  float: left;
  max-width: 650px;
  padding: 10px 0 0;
  margin: 0;
  list-style: none;
}

.menu-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 7px 12px;
  border-radius: 20px;
  margin-left: 2px;
}

.menu-link {
  display: block;
  border-bottom: 1px solid rgba(255,255,255, .3);
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.menu-item:active {
  box-shadow: inset 0 2px 1px #696969;
}

.menu-item.active {
  background: #d07058;
}

.menu-item.active .menu-link {
  border: none;
}

.menu-item:hover {
  background: #f5f5f5;
  text-decoration: none;
}

.menu-item:hover .menu-link {
  color: #323232;
}

.submenu {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 2;
  width: 145px;
  margin: 0;
  padding: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0, 0.4);
  background: #fff;
  font-size: 14px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

.submenu a {
  display: block;
  padding: 5px 14px;
  text-decoration: none;
  color: #000;
}

.submenu-item a {
  margin: 0 -7px;
}

.submenu-item:first-of-type {
  font-weight: bold;
  border-bottom: 1px solid rgba(50,50,50, .2);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.submenu-item a:hover {
  background: #fbded8;
}

.submenu-item a:active {
  background: #f6b5a5;
}

.submenu-item.active a {
  background: #d07058;
  color: #fff;
}

.menu-item:hover ul {
  opacity: 1;
  visibility: visible;
}





/* ------ панель с кнопками поиск/логин/корзина ------ */

.header-buttons {
  float: right;
  max-height: 300px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.search-button,
.login-button,
.cart-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  padding: 8px 0px;
  margin-left: 5px;
  border-radius: 20px;
  background: rgba(255,255,255, .2);
  color: #fff;
  font-size: 14px;
  line-height: 1.1;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.search-button {
  width: 32px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -8px -250px;
}

.search-button:hover {
  background: #fff url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -8px -297px;
}

.login-button {
  width: 92px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -3px -152px;
}

.login-button > span {
  margin-left: 20px;
}

.login-button:hover {
  background: #fff url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -3px -201px;
  color: #323232;
}

.cart-button {
  width: 117px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -3px -9px;
}

.cart-button > span {
  margin-left: 8px;
}

.cart-button.active > span {
  margin-left: 25px;
}

.cart-button.active {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -3px -59px;
}

.cart-button.active:hover {
  background-color: #fff;
  color: #323232;
}

.search-button:hover form,
.login-button:hover form,
.cart-button:hover .cart {
  opacity: 1;
  visibility: visible;
}

.telefone {
  position: absolute;
  right: 27px;
  top: 70px;
  color: #fff;
  font-size: 14px;
  line-height: 1.1;
  font-weight: bold;
  text-align: right;
}

.telefone p {
  margin-top: 0;
  margin-bottom: 5px;
}

.telefone span {
  font-size: 22px;
}







/* ------ формы хедера ------ */


.search-form,
.login-form,
.cart {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 1;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0, 0.4);
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

.search-form {
  padding: 20px 16px;
}

.search-form input {
  width: 310px;
}

.search-form label {
  top: 5px;
  left: 30px;
}

.login-form {
  padding: 20px;
}

.login-form input {
  width: 240px;
  margin-bottom: 20px;
}

.login-form label:first-of-type {
  left: 30px;
  top: 5px;
}

.login-form label:last-of-type {
  left: 30px;
  top: 70px;
}

.login-links {
  float: right;
  width: 130px;
  padding-top: 2px;
  text-align: left;
  font-size: 13px;
  line-height: 1.5;
}

.login-links a {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 2px;
  text-decoration: none;
  line-height: 1.2;
  color: #323232;
  border-bottom: 1px solid rgba(50,50,50, .3);
}

.login-links a:hover {
  color: #e84d37;
  border-color: rgba(232,77,55, .3);
}

.login-btn {
  border-radius: 20px;
  padding: 13px 25px;
  font-weight: bold;
}

.header-buttons input {
  display: block;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.header-buttons input:hover {
  border: 2px solid #c7c6c5;
  padding: 13px;
}

.header-buttons input:focus {
  border: 2px solid #8fbdec;
  padding: 13px;
  outline: 0;
}




/*----------------Cart------------------*/


.cart {
  width: 540px;
  padding: 20px 20px;
  color: #323232;
  font-size: 13px;
  text-align: center;
}

.cart-del-button {
  width: 11px;
  height: 11px;
  border: none;
  background-color: transparent;
  background-image: url(../img/x.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.cart td:first-child {
  width: 25px;
  padding: 10px 5px;
}

.cart td:nth-child(2) {
  width: 45px;
}

.cart td:nth-child(3) {
  width: 240px;
  text-align: left;
  padding: 10px 5px;
}

.cart td:nth-child(4) {
  width: 120px;
  padding: 5px;
}

.cart td:nth-child(5) {
  width: 80px;
}

.cart span {
  color: #999999;
}

.cart-total-price {
  padding-top: 15px;
  border-top: 1px solid #cacac7;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}

.cart-btn {
  float: right;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}




/* -----------  Слайдер ------------- */



.slider {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 555px;
  overflow: hidden;
}

input[name="slider-selector"] {
  display: none;
}

.slider-container {
  width: 300%;
  height: 100%;
}

.slide-item {
  float: left;
  width: 1200px;
  height: 100%;
}

.slider-content {
  position: relative;
  width: 700px;
  margin: 310px auto 0;
  text-align: center;
  color: #fff;
}

.slider-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  line-height: 1;
}

.slider-content a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 35px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}

.slider-selectors {
  position: absolute;
  bottom: 45px;
  left: 27px;
}

.selector-btn {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.selector-btn:hover {
  background: rgba(255,255,255, .2);
}

#slide1:checked ~ .wrapper .slider .slider-selectors .selector-btn:nth-of-type(1),
#slide2:checked ~ .wrapper .slider .slider-selectors .selector-btn:nth-of-type(2),
#slide3:checked ~ .wrapper .slider .slider-selectors .selector-btn:nth-of-type(3) {
  background: rgba(255,255,255, 1);
}

#slide1:checked ~ .wrapper .slider .slider-container {
  -webkit-transform: translate(0);
  transform: translate(0);
}

#slide1:checked ~ .wrapper {
  background: #849d8f url(../img/icecream1.png);
  background-repeat: no-repeat;
  background-position: top;
}

#slide2:checked ~ .wrapper .slider .slider-container {
  -webkit-transform: translate(-1200px);
  transform: translate(-1200px);
}

#slide2:checked ~ .wrapper {
  background: #8996a6 url(../img/icecream2.png);
  background-repeat: no-repeat;
  background-position: top;
}

#slide3:checked ~ .wrapper .slider .slider-container {
  -webkit-transform: translate(-2400px);
  transform: translate(-2400px);
}

#slide3:checked ~ .wrapper {
  background: #9d8b84 url(../img/icecream3.png);
  background-repeat: no-repeat;
  background-position: top;
}






/* ---------------- Баннеры --------------- */


.banner {
  position: relative;
  float: left;
  width: 560px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 110px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
}

.banner h2 {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.banner p {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 22px;
}

.banner a {
  position: absolute;
  right: 20px;
  bottom: 22px;
  padding: 8px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.banner-left {
  background: #b73451 url(../img/strawberry.jpg) no-repeat;
}

.banner-right {
  background: #3f2418 url(../img/chocolad.jpg) no-repeat;
  margin-left: 26px;
}






/*-------------- ХИТЫ -------------- */


.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  margin-top: -5px;
  padding-right: 17px;
  padding-left: 17px;
}

.catalog-item {
  width: 287px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 6px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.inner {
  position: relative;
  border-radius: 10px;
  width: 287px;
  padding: 10px 13px;
  padding-bottom: 15px;
}

.inner::before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  border-radius: 10px;
  background: rgba(255,255,255, .3);
  z-index: 1;
}

.catalog-item:hover .catalog-item-btn {
  display: inline-block;
  vertical-align: middle;
}

.inner:hover::before {
  display: block;
}

.inner:hover img {
  position: relative;
  z-index: 1;
}

.hit-item {
  position: absolute;
  top: 10px;
  left: 13px;
}

.item-price {
  position: absolute;
  top: 215px;
  left: 13px;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(0,0,0, 0.5);
  z-index: 1;
}

.item-price img {
  display: inline-block;
  vertical-align: middle;
  margin-left: -8px;
}

.item-price span {
  font-size: 30px;
  margin-left: -10px;
}

.catalog-item-btn {
  position: absolute;
  left: 50%;
  bottom: -40px;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  min-width: 205px;
  display: none;
  padding: 10px 17px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
}

.catalog-item-description {
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  text-decoration: underline;
  color: rgba(255,255,255, .3);
  z-index: 1;
}

.catalog-item-description span {
  color: #fff;
}

.inner:hover .catalog-item-description {
  text-decoration: none;
}





/*-----------------блок info------------------*/


.info {
  margin-top: 5px;
  padding: 25px 20px 17px;
  border-radius: 15px;
  background: #ede1c8 url(../img/waffle.jpg) no-repeat;
  color: #000;
}

.info h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.2;
  color: #323232;
}

.info-item {
  position: relative;
  float: left;
  width: 540px;
  padding-left: 55px;
  line-height: 22px;
  margin-bottom: 5px;
}

.info-item p {
  margin-bottom: 0;
}

.info-item:nth-of-type(2n) {
  margin-left: 26px;
}

.info-item img {
  position: absolute;
  left: 0;
  top: 0;
}






/*----------------------BLOG-----------------------*/


.blog {
  float: left;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  padding: 20px;
  color: #323232;
  background: #fff url(../img/blog-bg.jpg);
  background-position: 0 20%;
}

.blog h3 {
  width: 290px;
  margin-top: 5px;
  font-size: 24px;
  line-height: 1.2;
  color: #323232;
  font-weight: bold;
}

.blog a {
  color: #323232;
}

.blog a:hover {
  color: rgba(232,77,55, 1);
}




/*----------------------SUBSCRIBE-----------------------*/


.subscribe-border {
  float: left;
  width: 560px;
  min-height: 220px;
  margin-left: 26px;
  padding: 5px;
  border-radius: 15px;
  background: #fff url(../img/pattern.png);
}

.subscribe {
  width: 550px;
  min-height: 210px;
  padding: 25px 20px;
  border-radius: 10px;
  background: #fff;
  color: #5a5a5a;
}

.subscribe form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.subscribe input {
  display: block;
  width: 70%;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.subscribe label {
  left: 14px;
  top: -15px;
}

.subscribe input:hover {
  border: 2px solid #c7c6c5;
  padding: 13px;
}

.subscribe input:focus {
  border: 2px solid #8fbdec;
  padding: 13px;
  outline: 0;
}

.subscribe-form-btn {
  display: block;
  padding: 14px 22px;
  font-weight: bold;
}









/*---------------------MAP-------------------------*/


.feedback-container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.map {
  position: relative;
  height: 430px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 1;
}

.feedback {
  position: absolute;
  top: 65px;
  right: 50%;
  width: 300px;
  height: 300px;
  margin-right: -573px;
  padding: 15px 25px;
  border-radius: 15px;
  background: #fff;
  color: #323232;
  font-size: 14px;
  z-index: 2;
}

.feedback span {
  font-size: 18px;
  font-weight: bold;
}

.feedback-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


/*-------------------Footer--------------------*/

.main-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 27px;
  padding-bottom: 25px;
}

.footer-social {
  min-width: 180px;
  float: left;
  padding-top: 15px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social-btn:hover {
  border-color: #dae2de;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px #888888;
}

.tw-btn {
  background-position: -16px -474px;
}

.inst-btn {
  background-position: -16px -412px;
}

.fb-btn {
  background-position: -16px -350px;
}

.vk-btn {
  background-position: -16px -536px;
}

.footer-menu {
  float: left;
  width: 330px;
  margin-left: 210px;
  padding-top: 15px;
  padding-left: 20px;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: 0px 18px;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.footer-menu-item {
  display: inline-block;
  vertical-align: baseline;
  min-width: 140px;
  font-size: 13px;
}

.footer-menu-item a {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  line-height: 1.2;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255, .3);
}

.footer-menu-item:first-child {
  font-weight: bold;
}

.footer-menu-item a:hover {
  color: #ffbc9e;
  border-color: rgba(255,188,158, .3);
}

.footer-copirites {
  width: 190px;
  float: right;
  font-size: 12px;
}

.footer-copirites p {
  margin: 0;
}

.footer-copirites a {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1.2;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255, .3);
}

.footer-copirites a:hover {
  color: #ffbc9e;
  border-color: rgba(255,188,158, .3);
}





/*-------------------CATALOG.HTML--------------------*/



.wrapper-catalog {
  background: #849d8f url(../img/backlight-catalog.png);
  background-repeat: repeat-x;
}






/*-----------------Breadcrumbs&Title----------------*/

.main-title {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 27px 15px;
  font-size: 14px;
}

.main-title h1 {
  font-size: 35px;
  line-height: 1.2;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.breadcrumbs a {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 8px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255, .3);
}

.breadcrumbs a:hover {
  color: #ffbc9e;
  border-color: rgba(255,188,158, .3);
}

.divider {
  font-size: 14px;
  margin-right: 8px;
}





/*---------------------selection-form----------------------*/


.selection-form {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0px 27px;
}

.selection-form span {
  font-size: 14px;
}

.selection-form input {
  display: none;
}

.selection-form-button {
  padding: 8px 32px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: rgba(255,255,255, .2);
  color: #fff;
}

.selection-form-button:hover {
  background: #fff;
  color: #323232;
}

.selection-form-button:active {
  box-shadow: inset 0px 2px 1px #6c6d6c;
}

.sort-type {
  display: inline-block;
  vertical-align: bottom;
  width: 190px;
  margin-right: 8px;
}

.sort-type span {
  margin-left: 15px;
}

.sort-type select {
  width: 100%;
  padding: 9px;
  border-radius: 30px;
  color: #fff;
  background: rgba(255,255,255, .2);
}

.sort-type select:focus,
.sort-type select:hover {
  color: #323232;
  background: rgba(255,255,255, 1);
}

.price-range {
  display: inline-block;
  vertical-align: bottom;
  width: 220px;
  height: 65px;
  margin-right: 8px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.price-range-margin-wrapper {
  margin-left: 12px;
}

.price-range input {
  display: inline-block;
  vertical-align: baseline;
  width: 27px;
  background: transparent;
  border: none;
  color: #fff;
}

.price-range-line {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 7px;
  border-radius: 30px;
  background: rgba(255,255,255, .2);
}

.price-range-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7%;
  width: 86%;
  margin-top: -2px;
  border: 2px solid rgba(255,255,255, .5);
}

.price-range-line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 45px;
  width: 100px;
  margin-top: -2px;
  border: 2px solid #fff;
}

.price-min-slider,
.price-max-slider {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 1;
}

.price-min-slider {
  left: 45px;
}

.price-max-slider {
  left: 145px;
}

.price-min-slider:hover,
.price-max-slider:hover {
  width: 22px;
  height: 22px;
  margin-top: -11px;
}

.fatness-select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding: 8px 15px;
  border-radius: 30px;
  background: rgba(255,255,255, .2);
}

.fatness-select span {
  position: absolute;
  top: -25px;
}

.fatness-selector {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}

.fatness-selector:last-child {
  margin-right: 0;
}

.fatness-selector::before {
  position: absolute;
  top: -1px;
  left: 0px;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.fatness-selector::after {
  display: none;
  position: absolute;
  top: 3px;
  left: 4px;
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: #fff;
  border-radius: 50%;
}

.filler-select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 34px;
  margin-right: 14px;
  padding: 8px 15px;
  border-radius: 30px;
  background: rgba(255,255,255, .2);
}

.filler-select span {
  position: absolute;
  top: -25px;
}

.filler-selector {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}

.filler-selector:last-child {
  margin-right: 0;
}

.filler-selector::before {
  position: absolute;
  top: -1px;
  left: 0px;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.filler-selector::after {
  display: none;
  position: absolute;
  top: 1px;
  left: 6px;
  content: "";
  width: 8px;
  height: 12px;
  margin-right: 10px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fatness-select input:not(:disabled) + .fatness-selector:hover::before,
.filler-select input:not(:disabled) + .filler-selector:hover::before {
  border-width: 2px;
}

.filler-select input:checked + .filler-selector::after,
.fatness-select input:checked + .fatness-selector::after {
  display: block;
}

.filler-select input:disabled + .filler-selector,
.fatness-select input:disabled + .fatness-selector {
  opacity: 0.4;
}














/*--------------------main-catalog-------------------------*/

.main-catalog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 95px;
}





/*------------------------catalog-nav------------------------*/


.catalog-nav {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.catalog-nav ul {
  list-style: none;
  margin: 0;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
}

.nav-item a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  line-height: 1.1;
}

.nav-item:hover:not(.disabled) a {
  background: rgba(255,255,255, .2);
}

.nav-item.active a,
.nav-item:active:not(.disabled) a {
  color: #323232;
  background: #fff;
}

.nav-item.disabled {
  opacity: 0.2;
}




/*-----------------Modal-content------------------*/

@-webkit-keyframes emergence {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes emergence {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes error {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  20%,40%,60%,80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

@keyframes error {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  20%,40%,60%,80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0, .4);
}

.modal-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 25;
}

.modal-close-btn::before,
.modal-close-btn::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  border-right: 2px solid #070707;
}

.modal-close-btn::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.modal-close-btn::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 20;
  width: 480px;
  height: 440px;
  margin-top: -220px;
  margin-right: -240px;
  padding: 18px 24px;
  background: #fff;
  border-radius: 10px;
}

.modal-form {
  position: relative;
}

.modal-form p {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 18px;
}

.modal-form input {
  width: 270px;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.modal-form textarea {
  width: 100%;
  min-height: 155px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.modal-form label {
  left: 14px;
}

.modal-form label:first-of-type {
  top: 33px;
}

.modal-form label:nth-of-type(2) {
  top: 100px;
}

.modal-form label:last-of-type {
  top: 168px;
}

.modal-form textarea:hover,
.modal-form input:hover {
  border: 2px solid #c7c6c5;
  padding: 13px;
}

.modal-form textarea:focus,
.modal-form input:focus {
  border: 2px solid #8fbdec;
  padding: 13px;
}

.modal-form button {
  position: absolute;
  right: 0px;
  bottom: -50px;
  font-weight: bold;
  padding: 10px 20px;
}

.popup-show {
  display: block;
  -webkit-animation: emergence .5s;
  animation: emergence .5s;
}

.modal-error {
  -webkit-animation: error .5s;
  animation: error .5s;
}

.overlay-show {
  display: block;
}


/*------------Caption-top--------------*/


.caption-top {
  position: absolute;
  opacity: 0;
  color: #999;
  font-size: 11px;
  line-height: 13px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.caption-top-input:focus + label {
  opacity: 1;
  color: #5b9ddf;
}

.caption-show + label {
  opacity: 1;
}

.caption-top-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.caption-top-input:focus::-moz-placeholder {
  color: transparent;
}

.caption-top-input:focus:-moz-placeholder {
  color: transparent;
}

.caption-top-input:focus:-ms-input-placeholder {
  color: transparent;
}