@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff'),
       url('../fonts/roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/robotomedium.woff')  format('woff'),
       url('../fonts/robotomedium.woff2') format('woff2');
}


*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}




body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  color: #323232;
}

/*полоса под навигацией каталога*/
.catalog-footer-line {
  width: 1146px;
  margin: 0 auto 20px;
  opacity: 0.3;
}

/* сброс стилей кнопок */
button {
  border: none;   
}

button:focus {
  outline: none;
}


/* общие стили для красных кнопок и ссылок на странице */
.red-btn {
  display: block;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(to top, #e74b36, #f26843);
  text-shadow: 1px 1px 4px #c73f25;
  box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

.red-btn:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0 1px 2px #ac1000;
}

.red-btn:active {
  background: linear-gradient(to bottom, #e74b36, #f26843);
  box-shadow: inset 0 1px 3px rgba(0,0,0, .4);
}


/*полупрозрачный text-decoration у сылок*/

.link-decor-white {
  color: rgba(255,255,255, .3);
}

.link-decor-white span {
  color: #fff;
}

.link-decor-white:hover {
  color: #a7a294;
}

.link-decor-white:hover span {
  color: #ffbc9e;
}

.link-decor-black {
  color: rgba(50,50,50, .3);
}

.link-decor-black span {
  color: #323232;
}

.link-decor-black:hover {
  color: rgba(232,77,55, .3);
}

.link-decor-black:hover span {
  color: #e84d37;
}







.wrapper {
  background: #849d8f;
}


.container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 27px;
  padding-right: 27px;
}




.main-header {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  padding-right: 27px;
  padding-left: 27px;
}




.header-logo {
  float: left;
  margin-right: 5px;
}








/* -------------- header-menu ------------- */

.header-menu {
  float: left;
  padding: 10px 0 0;
  margin: 0;
  list-style: none;
}

.menu-item {
  float: left;
  position: relative;
}

.menu-link {
  display: block;
  padding: 7px 14px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
}

.menu-item > a {
  color: rgba(255,255,255, .3);
}

.menu-item.active > a {
  text-decoration: none;
}

.menu-item.active .menu-link {
  background: #d07058;
}

.menu-item:hover .menu-link {
  background: #f5f5f5;
  color: black;
  text-decoration: none;
}

.submenu {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 1;
  
  width: 145px;
  margin: 0;
  padding: 6px;
  
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0, 0.4);
  background: #fff;
  
  font-size: 14px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.submenu a {
  display: block;
  padding: 5px 14px;
  text-decoration: none;
  color: #000;
}

.submenu-item a {
  margin: 0 -7px;
}

.submenu-item:first-of-type {
  font-weight: bold;
  border-bottom: 1px solid rgba(50,50,50, .2);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.submenu-item a:hover {
  background: #fbded8;
}

.submenu-item a:active {
  background: #f6b5a5;
}

.menu-item:hover ul {
  opacity: 1;
  visibility: visible;
}





/* ------ панель с кнопками поиск/логин/корзина ------ */

.header-buttons {
  float: right;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.search-button,
.login-button,
.cart-button {
  position: relative;
  
  display: inline-block;
  
  height: 32px;
  padding: 8px 0px;
  margin-left: 5px;
  
  border-radius: 20px;
  background: rgba(255,255,255, .2);
  color: #fff;
  
  font-size: 14px;
  line-height: 1.1;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}


.search-button {
  width: 32px;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-button:hover {
  background: #fff url(../img/lupa-black.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.login-button {
  width: 92px;
  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.login-button > span {
  margin-left: 20px;
}

.login-button:hover {
  background: #fff url(../img/login-black.png);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  color: #323232;
}

.cart-button {
  width: 117px;
  background-image: url(../img/cart.png);
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.cart-button > span {
  margin-left: 8px;
}

.cart-button.active > span {
  margin-left: 25px;
}

.cart-button.active {
  background: #fff url(../img/cart-black.png);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  color: #323232;
}

.search-button:hover form,
.login-button:hover form,
.cart-button:hover .cart {
  opacity: 1;
  visibility: visible;
}








.telefone {
  position: absolute;
  right: 27px;
  top: 60px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  line-height: 10px;
}

.telefone span {
  font-size: 22px;
}







/* ------ формы хедера ------ */


.search-form,
.login-form,
.cart {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 1;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0, 0.4);
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}

.search-form {
  padding: 20px 16px;
}

.search-form input {
  width: 310px;
}

.login-form {
  padding: 20px;
}

.login-form input {
  width: 240px;
  margin-bottom: 20px;
}

.login-links {
  float: right;
  width: 130px;
  padding-top: 2px;
  text-align: left;
  font-size: 13px;
  line-height: 1.5;
}

.login-btn {
  border-radius: 20px;
  padding: 13px 25px;
  font-weight: bold;
}






.header-buttons input {
  display: block;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.header-buttons input:hover {
  border: 2px solid #c7c6c5;
  padding: 13px;
}

.header-buttons input:focus {
  border: 2px solid #8fbdec;
  padding: 13px;
  outline: 0;
}




/*----------------Cart------------------*/


.cart {
  width: 540px;
  padding: 20px 20px;
  color: #323232;
  font-size: 13px;
  text-align: center;
}

.cart td:first-child {
  width: 25px;
  padding: 10px 5px;
}

.cart td:nth-child(2) {
  width: 45px;
}

.cart td:nth-child(3) {
  width: 240px;
  text-align: left;
  padding: 10px 5px;
}

.cart td:nth-child(4) {
  width: 120px;
  padding: 5px;
}

.cart td:nth-child(5) {
  width: 80px;
}

.cart span {
  color: #999999;
}

.cart-total-price {
  padding-top: 15px;
  border-top: 1px solid #cacac7;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}

.cart-btn {
  float: right;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}




/* -----------  Слайдер ------------- */



.slider {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 555px;
  overflow: hidden;
}

input[name="slider-selector"] {
  display: none;
}

.slider-container {
  width: 300%;
  height: 100%;
}

.slide-item {
  float: left;
  width: 1200px;
  height: 100%;
}

.slider-content {
  position: relative;
  width: 700px;
  margin: 310px auto 0;
  text-align: center;
  color: #fff;
}

.slider-content h1 {
  line-height: 1;
}

.slider-content a {
  display: inline-block;
  padding: 10px 35px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}

.slider-selectors {
  position: absolute;
  bottom: 45px;
  left: 27px;
}

.selector-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.selector-btn:hover {
  background: rgba(255,255,255, .2);
}

#slide1:checked ~ .wrapper .slider .slider-selectors .selector-btn:nth-of-type(1),
#slide2:checked ~ .wrapper .slider .slider-selectors .selector-btn:nth-of-type(2),
#slide3:checked ~ .wrapper .slider .slider-selectors .selector-btn:nth-of-type(3) {
  background: rgba(255,255,255, 1);
}


#slide1:checked ~ .wrapper .slider .slider-container {
  transform: translate(0);
}

#slide1:checked ~ .wrapper {
  background: #849d8f url(../img/icecream1.png);
  background-repeat: no-repeat;
  background-position: top;
}

#slide2:checked ~ .wrapper .slider .slider-container {
  transform: translate(-1200px);
}

#slide2:checked ~ .wrapper {
  background: #8996a6 url(../img/icecream2.png);
  background-repeat: no-repeat;
  background-position: top;
}

#slide3:checked ~ .wrapper .slider .slider-container {
  transform: translate(-2400px);
}

#slide3:checked ~ .wrapper {
  background: #9d8b84 url(../img/icecream3.png);
  background-repeat: no-repeat;
  background-position: top;
}






/* ---------------- Баннеры --------------- */


.banner {
  position: relative;
  float: left;
  width: 560px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 110px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
}


.banner p {
  margin-top: 12px;
  margin-bottom: 0px;
  
  font-size: 18px;
  line-height: 22px;
}

.banner a {
  position: absolute;
  right: 20px;
  bottom: 23px;
  padding: 8px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.banner-left {
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
}

.banner-right {
  background: url(../img/chocolad.jpg) no-repeat;
  margin-left: 26px;
}






/*-------------- ХИТЫ -------------- */


.catalog-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 40px;
  padding-right: 14px;
  padding-left: 14px;
}

.catalog-item {
  width: 293px;
  height: 335px;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}

.inner {
  position: relative;
  border-radius: 10px;
  width: 293px;
  padding: 10px 13px;
  padding-bottom: 15px;
}

.catalog-item:hover {
  overflow: visible;
}

.inner:hover {
  background: rgba(255,255,255, .3);
  z-index: 1;
}

.hit-item {
  position: absolute;
  top: 10px;
  left: 13px;
}

.item-price {
  position: absolute;
  top: 200px;
  left: 13px;
  
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(0,0,0, 0.5);
}

.item-price span {
  font-size: 35px;
}

.catalog-item-btn {
  display: inline-block;
  padding: 10px 17px;
  
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.catalog-item-description {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: rgba(255,255,255, .3);
}

.catalog-item-description span {
  color: #fff;
}





/*-----------------блок info------------------*/


.info {
  padding: 25px 20px;
  border-radius: 15px;
  background-image: url(../img/waffle.jpg);
  background-repeat: no-repeat;
  color: #000;
}

.info h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.info-item {
  position: relative;
  float: left;
  width: 540px;
  padding-left: 55px;
  line-height: 22px;
}

.info-item p {
  margin-bottom: 0;
}

.info-item:nth-of-type(2),
.info-item:last-of-type {
  margin-left: 26px;
}

.info-item img {
  position: absolute;
  left: 0;
  top: 0;
}






/*----------------------BLOG-----------------------*/


.blog {
  float: left;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  padding: 20px;
  color: #323232;
  background: #fff url(../img/blog-bg.jpg);
  background-position: 0 20%;
}

.blog h3 {
  width: 290px;
  font-weight: bold;
  margin-top: 5px;
}

.blog a {
  color: #323232;
}




/*----------------------SUBSCRIBE-----------------------*/


.subscribe-border {
  float: left;
  width: 560px;
  min-height: 220px;
  margin-left: 26px;
  padding: 5px;
  
  border-radius: 15px;
  background: #fff url(../img/pattern.png);
}

.subscribe {
  width: 550px;
  min-height: 210px;
  padding: 25px 20px;
  border-radius: 10px;
  background: #fff;
  color: #5a5a5a;
}

.subscribe form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.subscribe input {
  display: block;
  width: 70%;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.subscribe input:hover {
  border: 2px solid #c7c6c5;
  padding: 13px;
}

.subscribe input:focus {
  border: 2px solid #8fbdec;
  padding: 13px;
  outline: 0;
}

.subscribe-form-btn {
  display: block;
  
  padding: 14px 22px;
  font-weight: bold;
}









/*---------------------MAP-------------------------*/


.map {
  position: relative;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  background-image: url(../img/map.jpg);
  background-position: 0;
}

.feedback {
  position: absolute;
  top: 65px;
  right: 27px;
  width: 300px;
  height: 300px;
  
  padding: 15px 25px;
  
  border-radius: 15px;
  background: #fff;
  color: #323232; 
  font-size: 14px;
}

.feedback span {
  font-size: 18px;
  font-weight: bold;
}

.feedback-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 14px 20px;
}


/*-------------------Footer--------------------*/

.main-footer{
  width: 1200px;
  margin: 0 auto;
  padding: 20px 27px;
  padding-bottom: 25px;
}

.footer-social {
  min-width: 180px;
  float: left;
  padding-top: 15px;
  font-size: 0;
}


.social-btn {
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-right: 10px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-btn:hover {
  border-color: #dae2de;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px #888888;  
}

.tw-btn {
  background: url(../img/social-tw.png) no-repeat;
}

.inst-btn {
  background: url(../img/social-insta.png) no-repeat;
}

.fb-btn {
  background: url(../img/social-fb.png) no-repeat;
}

.vk-btn {
  background: url(../img/social-vk.png) no-repeat;
}


.footer-menu {
  float: left;
  width: 330px;
  margin-left: 210px;
  padding-top: 15px;
  padding-left: 20px;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: 0 18px;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  float: left;
  min-width: 140px;
  font-size: 13px;
}

.footer-menu-item:first-child {
  font-weight: bold;
}


.footer-copirites {
  width: 190px;
  float: right;
  font-size: 12px;
}

.footer-copirites p {
  margin: 0;
}





/*-------------------CATALOG.HTML--------------------*/



/*-----------------Breadcrumbs&Title----------------*/

.main-title {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 27px;
  font-size: 14px;
}

.breadcrumbs a {
  margin-right: 8px;
}


.breadcrumbs a::after {
  display: inline-block;
  content: ">>";
  margin-left: 8px;
  text-decoration: none;
  color: #fff;
}




/*---------------------selection-form----------------------*/


.selection-form {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 27px;
}

.selection-form span {
  font-size: 14px;
}

.selection-form input {
  display: none;
}

.selection-form-button {
  padding: 9px 30px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: rgba(255,255,255, .2);
  color: #fff;
}

.selection-form-button:hover {
  background: #fff;
  color: #323232;
}

.selection-form-button:active {
  box-shadow: inset 0px 2px 1px #6c6d6c;
}



.sort-type {
  display: inline-block;
  vertical-align: bottom;
  width: 190px;
  margin-right: 8px;
}

.sort-type span {
  margin-left: 15px;
}

.sort-type select {
  width: 100%;
  padding: 9px;
  border-radius: 30px;
  color: #fff;
  background: rgba(255,255,255, .2);
}

.sort-type select:focus {
  color: #323232;
  background: rgba(255,255,255, 1);
}




.price-range {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 220px;
  height: 40px;
  margin-right: 8px;
  
  border-radius: 30px;
  color: #fff;
  background: rgba(255,255,255, .2);
}

.price-range span {
  position: absolute;
  top: -25px;
  left: 15px;
}

.price-min-slider,
.price-max-slider {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 1;
}

.price-min-slider {
  left: 45px;
}

.price-max-slider {
  left: 145px;
}

.price-min-slider:hover,
.price-max-slider:hover {
  width: 22px;
  height: 22px;
  margin-top: -11px;
}

.price-range::after {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -2px;
  
  width: 188px;
  border: 2px solid #fff;
}







.fatness-select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding: 9px 15px;
  border-radius: 30px;
  background: rgba(255,255,255, .2);
}

.fatness-select span {
  position: absolute;
  top: -25px;
}

.fatness-selector {
  position: relative;
  padding-left: 30px; 
  margin-right: 20px;
}

.fatness-selector::before {
  position: absolute;
  top: -1px;
  left: 0px;
  content: "";
  width: 20px;
  height: 20px;
  
  border: 1px solid #fff;
  border-radius: 50%;
} 

.fatness-selector::after {
  display: none;
  position: absolute;
  top: 3px;
  left: 4px;
  content: "";
  width: 12px;
  height: 12px;
  
  margin-right: 10px;
  
  background: #fff;
  border-radius: 50%;
} 

#fatness0:checked ~ .fatness-sel0::after { display: block; }
#fatness10:checked ~ .fatness-sel10::after { display: block; }
#fatness30:checked ~ .fatness-sel30::after { display: block; }
#fatness31:checked ~ .fatness-sel31::after { display: block; }





.filler-select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 38px;
  margin-right: 12px;
  padding: 9px 15px;
  border-radius: 30px;
  background: rgba(255,255,255, .2);
}

.filler-select span {
  position: absolute;
  top: -25px;
}

.filler-selector {
  position: relative;
  padding-left: 30px; 
  margin-right: 20px;
}

.filler-selector::before {
  position: absolute;
  top: -1px;
  left: 0px;
  content: "";
  width: 20px;
  height: 20px;
  
  border: 1px solid #fff;
  border-radius: 3px;
} 

.filler-selector::after {
  display: none;
  position: absolute;
  top: 1px;
  left: 6px;
  content: "";
  width: 8px;
  height: 12px;
  
  margin-right: 10px;
  
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(45deg);
} 

#filler-choc:checked ~ .filler-sel-choc::after { display: block; }
#filler-sugar:checked ~ .filler-sel-sugar::after { display: block; }
#filler-fruit:checked ~ .filler-sel-fruit::after { display: block; }
#filler-syrup:checked ~ .filler-sel-syrup::after { display: block; }
#filler-jam:checked ~ .filler-sel-jam::after { display: block; }














/*--------------------main-catalog-------------------------*/

.main-catalog {
  position: relative;
  margin-top: 0;
  padding-bottom: 120px;
}





/*------------------------catalog-nav------------------------*/


.catalog-nav {
  position: absolute;
  bottom: -30px;
  right: 27px;
}

.catalog-nav ul {
  list-style: none;
}

.nav-item {
  display: inline-block;
}

.nav-item a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  line-height: 1.1;
}

.nav-item:hover:not(.disabled) a {
  color: #323232;
  background: #fff;
}

.nav-item.active a {
  color: #323232;
  background: #fff;
}

.nav-item.disabled {
  opacity: 0.2;
}